@media (min-width: 75em) {

    header {
        max-width: 200rem !important;
    }

    .main-nav {
        max-width: 200rem !important;
    }

    .carousel {
        max-width: 200rem !important;
    }

    .about {
        max-width: 200rem !important;
    }

    .cards {
        max-width: 200rem !important;
        margin: auto !important;
    }

    .project {
        max-width: 200rem !important;
    }

    .core {
        max-width: 200rem !important;
    }

    .join {
        max-width: 200rem !important;
    }

    .testimonials {
        max-width: 200rem !important;
        margin: auto !important;
    }

    footer {
        max-width: 200rem !important;
    }

}


@media (max-width: 63em) {

    body {
        margin: 0;
        padding: 0;
    }

    .contacts-list {
        align-self: center;
        justify-content: space-between !important;
    }

    .logo-nav {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        /* padding: 0 5rem; */
        height: 10rem;
    }

    .social-icons {
        display: none !important;
    }

    .nav-btn {
        display: none;
    }

    /* .sash {
        display: block;
    } */

    .order {
        display: block;
    }

}

@media (max-width: 56.25em) {

    .about-img {
        width: 80%;
    }
}