@media (min-width: 100px) {
    order {
        display: none;
    }
}

@media (max-width: 1000px) {

    body {
        margin: 0;
        padding: 0;
    }

    .logo-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        height: 10rem;
    }

    .main-nav ul {
        display: none;
    }

    .order {
        display: block;
    }

}

@media (max-width: 700px) {

    html {
        font-size: 50% !important;
    }

    .social-icons {
        display: none !important;
    }

    .contacts-list {
        align-self: center;
        display: flex;
        list-style: none;
        gap: 4rem;
        color: #9a9b9c;
    }

    .about {
        max-width: 70rem;
    }

    .about-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5rem;
    }

    .cards-contents {
        max-width: 120rem;
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        gap: 2rem !important;
    }

    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        gap: 4rem;
    }

}