@media (min-width: 100px) {
    order {
        display: none;
    }
}

@media (max-width: 1000px) {

    body {
        margin: 0;
        padding: 0;
    }

    .logo-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        height: 10rem;
    }

    .main-nav ul {
        display: none;
    }

    .order {
        display: block;
    }

}